<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<% if current_user %>
	<p>You're logged in as user: <%= current_user.username %></p>
	<%= link_to 'Log Out', session_path, method: :delete %>
<% end %>
